body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://i2.wp.com/media.giphy.com/media/1BQyCn2V0rrr2/giphy.gif');
  background-size: cover;
  }
  .container {
  text-align: center;
  }

  .container h1{
    font-size: 70px;
    color: rgb(0, 0, 0);
  }

  .container h2{
    font-size: 50px;
    color: rgb(221, 92, 144);
  }

  .container p{
    font-size: 25px;
    color: rgba(184, 0, 151, 0.825);
  }
  .buttons {
  margin-top: 20px;
  }
  .btn {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  background-color: #c372f5;
  color: white;
  border-radius: 5px;
  }
  .btn:hover {
  background-color: #d98af2;
  }
